header {
    display: flex;
    height: 10%;
    background-color: #67a1cf;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
  
    
}
header h1 {
    display: inline-block;
    font-size: 50px;
    background-color: #abdefe;
    position: relative;
    padding: 0 0.3% 0.3% 7%;
}
header nav li {
    display: inline-block;
    border-bottom: 4px solid #033a88;
}

header nav {
    font-size: 30px;
   /* border: 3px solid; */
    margin: 0 7% 0 0; 
    color: #033a88;    
}

header nav li a {
    text-decoration: none;
    color: #033a88;
}

.hero-image {
    display: flex;
    background-image: url("../images/hero2.jpg");
    height: 12rem;
    position: relative;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   justify-content: flex-end;
}

.hero-text {
    text-align: right;
    margin: 0;
   
    color: rgb(24, 40, 75);
    align-self: flex-end;
}

table {
     display: flex; 
    width: 100%;
    border-spacing: 2em;
}

td {
    border-right: 3px solid;
    padding: 0 0.5em 0 0.5em;
}

td:last-child {
    border-right: none;
}

.title {
 width: 20%;
 
 text-align: right;
 vertical-align: top; 
}

#horiseon-project {
    display: flex;
    position: relative;
    text-align: left;
}

#horiseon-text {
    position: absolute;
    bottom: 15%;
    background-color: #abdefe;
    flex-shrink: 3;
}