header {
    display: flex;
    height: 10%;
    background-color: #064467;
    color: #064467;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
  
    
}
header h1 {
    display: inline-block;
    font-size: 50px;
    background-color: #abdefe;
    position: relative;
    padding: 0 0.3% 0.3% 7%;
    text-shadow: 1px 1px 2px #010815;
}
header nav li {
    display: inline-block;
    border-bottom: 4px solid #abdefe;
    padding: 0 5px 0 5px;
    
}

header nav {
    font-size: 1.5em;
    margin-right: 2%; 
    
}

header nav li a {
    text-decoration: none;
    color: #abdefe;
}

#hero-image {
    display: flex;
    background-image: url("../images/hero2.jpg");
    height: 12rem;
    position: relative;
    margin-top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   justify-content: flex-end;
}

#hero-text {
    text-align: right;
    margin: 0;
    color:#064467;
    align-self: flex-end;
    padding-right: 2%;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    font-family: 'Trebuchet MS', sans-serif;
}

h2 {
    margin-block-end: 0;
    margin-block-start: 0;
}
section {
    display: flex;
    margin-top: 2%;
}

article p {
   padding-left: 2%;
   margin-block-start: 0;
   margin-block-end: 0;
}

.title {
 width: 20%;
 text-align: right;
 vertical-align: top;
 border-right: 3px solid #18284b;
 padding-right: 1%;
 font-family: 'Trebuchet MS', sans-serif;
color:#064467;
font-size: 1.6em;

}

.content {
    display: flex;
    width: 79%;
    flex-wrap:wrap;
    /* justify-content: space-evenly; */
    
    margin-top: 0;
}

#horiseon-project {
    display: flex;
    position: relative;
    text-align: left;
    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

#horiseon-project img {
    width: 100%;
    border: 5px solid #abdefe;
}


h2 {
    font-size: 1.5em;
}

/* #project2-text {
    position: absolute;
    bottom: 15%;
    background-color: #abdefe;
} */

.photo {
    position: relative;
    width: 46%;
    margin: 2%;
    margin-bottom: 0;
    
}
.photo img {
    width: 100%;
    border: 5px solid #abdefe;
    
}

.photo-text {
    position: absolute;
    bottom: 15%;
    background-color: #abdefe;
    line-height: 1em;
    padding-right: 2em;
    padding-left: 1em;
}

/* @media screen and (max-width: 768px) {
    #hero-text, header nav {
        font-size: 0.8em;
    }
} */