



.work-photos {
    display: flex;
    flex-wrap: wrap;
   
    
}


.photo {
    
    position: relative;
    width: 50%;
}
.photo img {
    width: 100%;
}
#horiseon-project {
    display: inline-block;
    width: 100%;
}
